<div class="leftpage">
<% if(typeof leftImage!='undefined' && leftImage !=''){ %>
    <img src="<%=leftImage%>" />
<% } %>
<% if(typeof text_left!='undefined' && text_left!=''){ %>
    <div class="text"><%= text_left %></div>
<% } %>
</div>
<div class="rightpage">
    <% if (typeof title!='undefined' && title != '') { %>
    <div class="titolo">
        <h1> <%= title %></h1>
    </div>
    <% } %>
    <% if (typeof text!='undefined' && text != '') { %>
    <div class="paragraph htmltext">
        <%= text %>
    </div>
    <% } %>
</div>

<div data-next="#/paragraph/<%= continue_page_id %>" class="active <%= continue_class %>" id="continue">
    <%= continue_text %>
</div>